<div class="container">
  <div class="row custom-row">
    <div class="img-container col-3 mb-3">
      <img src="/assets/icons/exeo.png" class="img-fluid" />
    </div>
    <div class="col-3">
      <h5 class="fs-4 text-primary custom-list-margin">Useful</h5>
      <ul class="list-unstyled mb-4 custom-list-margin">
        <li class="fw-4 fs-5">About</li>
        <li class="fw-4 fs-5">Services</li>
        <li class="fw-4 fs-5">Portfolio</li>
      </ul>
    </div>
    <div class="col-3">
      <h5 class="fs-4 text-primary custom-list-margin">Office</h5>
      <ul class="list-unstyled mb-4 custom-list-margin">
        <li class="fw-4 fs-5">Techopolis</li>
        <li class="fw-4 fs-5">G2Building</li>
        <li class="fw-4 fs-5">Thessaloniki</li>
      </ul>
    </div>
    <div class="col-3">
      <h5 class="fs-4 text-primary custom-list-margin">Contact</h5>
      <ul class="list-unstyled mb-4 custom-list-margin">
        <li class="fw-4 fs-5">info&#64;exeo.gr</li>
        <li class="fw-4 fs-5">2310365170</li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="fw-semibold col-4 fs-5 mb-5">
      © 2024 Tatiana. All Rights Reserved.
    </div>
    <div class="fw-semibold col-3 fs-5">Angular Lesson</div>
    <div class="fw-semibold col-3 fs-5">Privacy Policy and cookies</div>
    <div class="fw-semibold col-2 fs-5">Terms of use</div>
  </div>
</div>
