<div class="container">
  <app-box-list></app-box-list>
  <app-circle-list [animal]="animal"></app-circle-list>
  <app-triangle-list></app-triangle-list>
  <div class="animal">
    Animal: {{ animal }}
  </div>


  <div class="row">
    <div class="col-2">
      <button type="button" (click)="changeAnimal('dog')" class="btn btn-primary custom-btn text-secondary">Dog</button>
    </div>
    <div class="col-2">
      <button type="button" (click)="changeAnimal('elephant')" class="btn btn-primary custom-btn text-success">Elephant</button>
    </div>
    <div class="col-2">
      <button type="button" (click)="changeAnimal('cat')" class="btn btn-primary custom-btn">Cat</button>
    </div>
  </div>
</div>
