<app-box
  [content]="boxes[0].content"
  [subtitle]="boxes[0].subtitle"
  (boxContentEvent)="receiveContentFromChild($event)"
  (boxSubtitleEvent)="receiveSubtitleFromChild($event)"
></app-box>
<app-box
  [content]="boxes[1].content"
  [subtitle]="boxes[1].subtitle"
  (boxContentEvent)="receiveContentFromChild($event)"
  (boxSubtitleEvent)="receiveSubtitleFromChild($event)"
></app-box>
<app-box
  [content]="3"
  [subtitle]="'5'"
  (boxContentEvent)="receiveContentFromChild($event)"
  (boxSubtitleEvent)="receiveSubtitleFromChild($event)"
></app-box>

<app-circle
  [main]="'Input for Circle'"
  [subs]="'Subtitle for Circle'"
  (circleMainEvent)="receiveMainFromChild($event)"
></app-circle>
